{% extends "base.html" %}
<!-- Title of page -->
{% block title %}Box Scores{% endblock %}

<!-- Content of page -->
{% block content %}
<br>
<!-- Box Score -->
<div class="container">
  <div class="row">
    <div class="col-5 text-center">
      <img class="boxscore-team-logo" src="/static/img/{{ team1_abbrev }}.png">
      <h4> {{ team1_name }} </h4>
      <h5> {{ team1["PTS"].sum() }} </h5>
    </div>
    <div class="col-2 card border-0 text-center justify-content-center">
      <h5> {{ summary["GAME_STATUS_TEXT"].unique()[0] }} </h5>
      <small> {{ summary["NATL_TV_BROADCASTER_ABBREVIATION"].unique()[0] }} </small>
    </div>
    <div class="col-5 text-center">
      <img class="boxscore-team-logo" src="/static/img/{{ team2_abbrev }}.png">
      <h4> {{ team2_name }} </h4>
      <h5> {{ team2["PTS"].sum() }} </h5>
    </div>
  </div>
</div>
<br>
<!-- Team Stats + Team Percents -->
<div class="container">
  <hr>
    <h5> Summary Stats </h5>
  <div class="row">
    <!-- Team Stats -->
    <div class="col-7">
      <div class="chart" id="teamstats_bar">
          <script>
              var trace1 = {{ bar1 | safe }};
              var trace2 = {{ bar2 | safe }};

              var data = [trace1, trace2];
              var layout = {barmode: 'group',
                            showlegend: false};

              Plotly.plot('teamstats_bar', data, layout);
          </script>
      </div>
    </div>
    <!-- Team Percents -->
    <div class="col-5">
      <div class="chart" id="teampct_bar">
          <script>
              var trace1 = {{ pct_bar1 | safe }};
              var trace2 = {{ pct_bar2 | safe }};

              var data = [trace1, trace2];
              var layout = {barmode: 'group'};

              Plotly.plot('teampct_bar', data, layout);
          </script>
      </div>
    </div>
  </div>
</div>
<br>
<hr>
  <!-- Box Score Stats-->
  <div class="container">
    <br>
    <h4>{{ team1_name }}</h4>
      <div class="table-responsive-md">
      <table class="boxscore-datatable table-striped table-bordered">
        <!-- Table Header -->
        <thead>
          <tr class="bg-dark text-white">
            <th>PLAYER</th>
            <th>MIN</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FG%</th>
            <th>3PM</th>
            <th>3PA</th>
            <th>3P%</th>
            <th>FTM</th>
            <th>FTA</th>
            <th>FT%</th>
            <th>ORB</th>
            <th>DRB</th>
            <th>REB</th>
            <th>AST</th>
            <th>STL</th>
            <th>BLK</th>
            <th>TOV</th>
            <th>PF</th>
            <th>PTS</th>
            <th>+/-</th>
          </tr>
        </thead>
        <!-- Table Body -->
        <tbody>
          {% for i, value in team1.iterrows() %}
          <tr>
              <td>{{ value["PLAYER_NAME"] }}</td>
              <td>{{ value["MIN"] }}</td>
              <td>{{ value["FGM"] }}</td>
              <td>{{ value["FGA"] }}</td>
              <td>{{ value["FG_PCT"] }}</td>
              <td>{{ value["FG3M"] }}</td>
              <td>{{ value["FG3A"] }}</td>
              <td>{{ value["FG3_PCT"] }}</td>
              <td>{{ value["FTM"] }}</td>
              <td>{{ value["FTA"] }}</td>
              <td>{{ value["FT_PCT"] }}</td>
              <td>{{ value["OREB"] }}</td>
              <td>{{ value["DREB"] }}</td>
              <td>{{ value["REB"] }}</td>
              <td>{{ value["AST"] }}</td>
              <td>{{ value["STL"] }}</td>
              <td>{{ value["BLK"] }}</td>
              <td>{{ value["TO"] }}</td>
              <td>{{ value["PF"] }}</td>
              <td>{{ value["PTS"] }}</td>
              <td>{{ value["PLUS_MINUS"] }}</td>
          </tr>
          {% endfor %}
      </table>
      <br>
      <h4>{{ team2_name }}</h4>
        <div class="table-responsive-md">
        <table class="boxscore-datatable table-striped table-bordered">
          <!-- Table Header -->
          <thead>
            <tr class="bg-dark text-white">
              <th>PLAYER</th>
              <th>MIN</th>
              <th>FGM</th>
              <th>FGA</th>
              <th>FG%</th>
              <th>3PM</th>
              <th>3PA</th>
              <th>3P%</th>
              <th>FTM</th>
              <th>FTA</th>
              <th>FT%</th>
              <th>ORB</th>
              <th>DRB</th>
              <th>REB</th>
              <th>AST</th>
              <th>STL</th>
              <th>BLK</th>
              <th>TOV</th>
              <th>PF</th>
              <th>PTS</th>
              <th>+/-</th>
            </tr>
          </thead>
          <!-- Table Body -->
          <tbody>
            {% for i, value in team2.iterrows() %}
            <tr>
                <td>{{ value["PLAYER_NAME"] }}</td>
                <td>{{ value["MIN"] }}</td>
                <td>{{ value["FGM"] }}</td>
                <td>{{ value["FGA"] }}</td>
                <td>{{ value["FG_PCT"] }}</td>
                <td>{{ value["FG3M"] }}</td>
                <td>{{ value["FG3A"] }}</td>
                <td>{{ value["FG3_PCT"] }}</td>
                <td>{{ value["FTM"] }}</td>
                <td>{{ value["FTA"] }}</td>
                <td>{{ value["FT_PCT"] }}</td>
                <td>{{ value["OREB"] }}</td>
                <td>{{ value["DREB"] }}</td>
                <td>{{ value["REB"] }}</td>
                <td>{{ value["AST"] }}</td>
                <td>{{ value["STL"] }}</td>
                <td>{{ value["BLK"] }}</td>
                <td>{{ value["TO"] }}</td>
                <td>{{ value["PF"] }}</td>
                <td>{{ value["PTS"] }}</td>
                <td>{{ value["PLUS_MINUS"] }}</td>
            </tr>
            {% endfor %}
        </table>
  </div>
  <br>

{% endblock %}
