{% extends "base.html" %}
<!-- Title of page -->
{% block title %}Scores{% endblock %}

<!-- Content of page -->
{% block content %}
<br>
<div class="container">
    <h4> [DATE PICKER] </h4>
      <br>
        <div class="list-group">
          {% for i, game in games.iterrows() %}
          <a class="list-group-item list-group-item-action" href="/boxscores/{{ game["GAME_ID"] }}">
            {{ game["HOME_TEAM_ABBREVIATION"] }} {{ game["HOME_TEAM_PTS"] }} {{ game["VISITOR_TEAM_ABBREVIATION"] }} {{ game["VISITOR_TEAM_PTS"] }}
          {% endfor %}
          </a>
        </div>
</div>

{% endblock %}
