{% extends "base.html" %}
<!-- Title of page -->
{% block title %}Scores{% endblock %}

<!-- Content of page -->
{% block content %}
<br>
<div class="container">
  <!-- Scores Page Datepicker -->
  <form>
    <input id="datepicker" width="276" name="date-scores" placeholder={{ placeholder }} />
    <script src="{{ url_for('static', filename='js/datepicker.js') }}"></script>
  </form>
  <br>
  <!-- Game Scores -->
  <div class="list-group">
    {% for i, game in games.iterrows() %}
    <a class="text-xs-center list-group-item list-group-item-action" href="/boxscores/{{ game["GAME_ID"] }}">
      <div class="row">
        <!-- If Home Team winning, bold Home Team details-->
        {% if game["HOME_TEAM_ABBREVIATION"] == game["WINNER"] %}
        <div class="col-md-4 text-center">
          <img class="team-logo" src="static/img/{{ game["HOME_TEAM_ABBREVIATION"] }}.png">
          <strong>{{ constants.TEAM_ID_DATA[game['HOME_TEAM_ABBREVIATION']]['city'] }}
            {{ constants.TEAM_ID_DATA[game['HOME_TEAM_ABBREVIATION']]['name'] }}
            <p>
              {{ game["HOME_TEAM_PTS"] }}
            </p>
          </strong>
        </div>
        <div class="col-md-4 text-center">
          <b>{{ game["GAME_STATUS_TEXT"] }}</b>
          <br>
          {{ game["NATL_TV_BROADCASTER_ABBREVIATION"]}}
        </div>
        <div class="col-md-4 text-center">
          <img class="team-logo" src="static/img/{{ game["VISITOR_TEAM_ABBREVIATION"] }}.png">
          {{ constants.TEAM_ID_DATA[game['VISITOR_TEAM_ABBREVIATION']]['city'] }}
          {{ constants.TEAM_ID_DATA[game['VISITOR_TEAM_ABBREVIATION']]['name'] }}
          <p>{{ game["VISITOR_TEAM_PTS"] }}</p>
        </div>
        <!-- Else If Visitor Team winning, bold Visitor Team details-->
        {% elif game["VISITOR_TEAM_ABBREVIATION"] == game["WINNER"]%}
        <div class="col-md-4 text-center">
          <img class="team-logo" src="static/img/{{ game["HOME_TEAM_ABBREVIATION"] }}.png">
          {{ constants.TEAM_ID_DATA[game['HOME_TEAM_ABBREVIATION']]['city'] }}
          {{ constants.TEAM_ID_DATA[game['HOME_TEAM_ABBREVIATION']]['name'] }}
          <p>{{ game["HOME_TEAM_PTS"] }}
          </p>
        </div>
        <div class="col-md-4 text-center">
          <b>{{ game["GAME_STATUS_TEXT"] }}</b>
          <br>
          {{ game["NATL_TV_BROADCASTER_ABBREVIATION"]}}
        </div>
        <div class="col-md-4 text-center">
          <img class="team-logo" src="static/img/{{ game["VISITOR_TEAM_ABBREVIATION"] }}.png">
          <strong>{{ constants.TEAM_ID_DATA[game['VISITOR_TEAM_ABBREVIATION']]['city'] }}
            {{ constants.TEAM_ID_DATA[game['VISITOR_TEAM_ABBREVIATION']]['name'] }}
            <p>
              {{ game["VISITOR_TEAM_PTS"] }}
            </p>
          </strong>
        </div>
        <!-- Else (Game has not started) do not bold either team details -->
        {% else %}
        <div class="col-md-4 text-center">
          <img class="team-logo" src="static/img/{{ game["HOME_TEAM_ABBREVIATION"] }}.png">
          {{ constants.TEAM_ID_DATA[game['HOME_TEAM_ABBREVIATION']]['city'] }}
          {{ constants.TEAM_ID_DATA[game['HOME_TEAM_ABBREVIATION']]['name'] }}
          <p>{{ game["HOME_TEAM_PTS"] }}
          </p>
        </div>
        <div class="col-md-4 text-center">
          <b>{{ game["GAME_STATUS_TEXT"] }}</b>
          <br>
          {{ game["NATL_TV_BROADCASTER_ABBREVIATION"]}}
        </div>
        <div class="col-md-4 text-center">
          <img class="team-logo" src="static/img/{{ game["VISITOR_TEAM_ABBREVIATION"] }}.png">
          {{ constants.TEAM_ID_DATA[game['VISITOR_TEAM_ABBREVIATION']]['city'] }}
          {{ constants.TEAM_ID_DATA[game['VISITOR_TEAM_ABBREVIATION']]['name'] }}
          <p>{{ game["VISITOR_TEAM_PTS"] }}
          </p>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </a>
  </div>
</div>

{% endblock %}
